body {
    color:rgb(0, 0, 0); /*kleur van de tekst op alle pagina's met deze stylesheet*/
    font-size: 19px;
  }

ul {
    list-style-type: none; /*zodat het geen opsomming wordt met bijvoorbeeld rondjes of sterretjes*/
    margin: 0; /*ruimte tussen de navigatiebar en de bovenkant van de pagina*/
    padding: 0; /*ruimte tussen de linkerkant van de pagina en het begin van de navigatiebar*/
    overflow: hidden; /*zodat er niet gescrolled kan worden naar de tekst*/
    background-color:rgb(30, 129, 176); /*kleur van de balk*/
}

ul li {
    float: left; /*zorgt ervoor dat de knoppen links beginnen*/
    border-right: 1px solid #bbbbbb; /*zorgt voor grenzen/streepjes tussen de knoppen van de navigatie bar*/
}

ul li:last-child {
  border-right: none; /*zodat de laatste knop niet nog een rand krijgt aan de rechterkant*/
}

ul li a {
  display: block; /*maakt de vorm van de knoppen een blok/rechthoek*/
  color: rgb(116, 209, 255); /*kleur van de tekst in de balk*/
  text-align: center; /*laat de tekst in het midden van de knop staan*/
  padding: 14px 16px; /*zorgt voor ruimte tussen, boven en onder de elementen*/
  text-decoration: none; /*geen text decoratie*/
}

ul li a:hover {
  background-color: #ffffff; /*maakt de kleur wit als je er met je muis over heen gaat*/
}

ul li a.active {
  background-color: #ffffff; /*maakt de knop van de pagina waar je op bent wit*/
}

#Binair { /*hashtag *woord* laat je in je html refereren aan dit stuk html zodat dit gebruikt wordt voor de opmaak*/
  background-color:lightgreen;
  border-style: dotted; /*stelt de stijl van de randen in*/
  border-color: rgb(50, 228, 235); /*stelt de kleur van de randen in*/
  padding: 15px; /*stelt de ruimte tussen de rand en de elementen in*/
}

#Kleurmodellen {
  background-image: url("Plaatjes/1_3l_gNnYqeGpwNUoQEYGM9w.jpg");
  background-size: cover; /*zorgt ervoor dat het hele gevuld wordt met het plaatje*/
  background-position: center; /*centreert de positie van de afbeelding*/
  background-repeat: no-repeat; /*herhaalt de afbeelding niet, zodat hij niet dubbel komt als je scrolt*/
  background-attachment: fixed; /*zodat de achtergrond niet mee scrollt maar 'vast' zit*/
  border-style: dotted; 
  border-color: rgb(43, 100, 247) rgb(255, 180, 42) rgb(255, 247, 28) rgb(77, 231, 26);
  padding: 15px;
}

#Index {
  background-color:rgb(255, 222, 59);
  border-style: dotted; 
  border-color: rgb(255, 177, 59);
  padding: 15px;
}

#Invoer {
  background-color:rgb(252, 115, 218);
  border-style: dotted; 
  border-color: rgb(112, 29, 101);
  padding: 15px;
}

#Compressie {
  background-color:rgb(255, 167, 73);
  border-style: dotted; 
  border-color: rgb(177, 11, 11);
  padding: 15px;
}

h1.kleurtitel {
  background-color: none; /*hier moest iets staan omdat hij anders moeilijk deed :)*/
}

.kleur-1 { color: #ff0000; } /*deze hele constructie was om het kleurrijke tekstje op kleurmodellen te maken, je kan met het gebruik van deze class naar kleuren refereren zodat het die kleur wordt*/
.kleur-2 { color: #ff7700; }
.kleur-3 { color: #ffee00; }
.kleur-4 { color: #99ff00; }
.kleur-5 { color: #26ff00; }
.kleur-6 { color: #00ff51; }
.kleur-7 { color: #00ffc8; }
.kleur-8 { color: #00c3ff; }
.kleur-9 { color: #004cff; }
.kleur-10 { color: #2a00ff; }
.kleur-11 { color: #9d00ff; }
.kleur-12 { color: #ff00ea; }
.kleur-13 { color: #ff0073; }

h2.kleurtitel-rgb {
  background-color: none;
}

.kleur-r { color: red; }
.kleur-g { color: green; }
.kleur-b { color: blue; }

h2.kleurtitel-cmyk {
  background-color: none;
}

.kleur-c { color: cyan; }
.kleur-m { color: magenta; }
.kleur-y { color: yellow; }
.kleur-k { color: black; }

#Kleurmodellen img {
  float: right;
  margin-right: 15px;
}

#Compressie img {
  float: right; /*laat de afbeeldingen naar rechts drijven*/
  margin-right: 15px; /*zorgt voor wat ruimte tussen de plaatjes en de rechterkant*/
}

#Binair img {
  float: right;
  margin-right: 15px;
}

#Invoer img {
  float: right;
  margin-right: 15px;
}

#Index img {
  border-style: double;
  padding: 2px
}