body {
    background-color:rgb(230, 208, 68);
    color:rgb(0, 0, 0);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(30, 129, 176);
}

ul li {
    float: left;
}

ul li a {
  display: block;
  color: rgb(116, 209, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff;
}